.categories-result-title {
    font-size: 40px;
    letter-spacing: 3px;
    margin: 40px 10px 70px;
    color: #f1ff8a;
}
.wrap-categories-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc((95vw - 200px * 6) / 6) calc((95vw - 200px * 6) / 6);
    overflow-y: scroll;
    padding: 0 10px 20px;
}
@media (max-width: 1440px) {
    .wrap-categories-result {
        gap: 30px 20px;
    }
}
@media (max-width: 768px) {
    .categories-result-title {
        font-size: 38px;
    }
    .wrap-categories-result {
        gap: 22px 12px;
    }
}
@media (max-width: 520px) {
    .categories-result-title {
        font-size: 32px;
        margin: 15px 10px 45px;
    }
    .wrap-categories-result {
        gap: 20px 10px;
    }
}
@media (max-width: 320px) {
    .categories-result-title {
        font-size: 28px;
        margin: 10px 10px 40px;
    }
}
