.wrap-questions-item {
    border: 1px solid green;

    height: calc(95vh - 60px);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.questions-item-images {
    border: 1px solid rgb(1, 39, 1);

    width: calc(95vw - 200px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.questions-item-images-variant {
    width: 400px;
    height: 280px;
    border-radius: 5%;
    overflow: hidden;
}
.questions-item-score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.questions-item-score-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 1);
}
