.wrap-categories-item {
    width: 200px;
    height: 260px;
}
.item-dark {
    filter: grayscale(1)
}
.categories-item-title {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-size: 20px;
}
.categories-item-score {
    color: #f1ff8a;
}
.categories-item-score:hover {
    cursor: pointer;
    font-weight: bold;
}
.categories-item-img {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    transition: transform 0.5s;
}
.categories-item-img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(241, 255, 138, 0.5); 
    transform: scale(103%);
}
@media (max-width: 1440px) {
    .wrap-categories-item {
        width: 180px;
        height: 240px;
    }
}
@media (max-width: 1024px) {
    .categories-item-title {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .wrap-categories-item {
        width: 160px;
        height: 220px;
    }
}
@media (max-width: 520px) {
    .wrap-categories-item {
        width: 140px;
        height: 180px;
    }
    .categories-item-title {
        font-size: 16px;
    }
}
@media (max-width: 320px) {
    .wrap-categories-item {
        width: 120px;
        height: 160px;
    }
    .categories-item-title {
        font-size: 14px;
    }
}
