.wrap-question {
    height: 85vh;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: rgb(2, 2, 31);
    overflow: scroll;
}

@media (max-width: 768px) {
    .wrap-question {
        padding: 0px 0;
    }
}
