.page {
  max-width: 1920px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background: url('../assets/background/page/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.page-main {
  height: 85vh;
  overflow: scroll;
}
