.page {
  max-width: 1920px;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(2, 2, 31);
  color: white;
}
.page-header {
  height: 100px;
}
.page-main {
  height: calc(100vh - 100px - 50px);
}
.page-footer {
  height: 50px;
}

@media (max-width: 1024px) {
  .page-header {
    height: 80px;
  }
  .page-main {
    height: calc(100vh - 80px - 40px);
  }
  .page-footer {
    height: 40px;
  }
}
@media (max-width: 520px) {
  .page-header {
    height: 70px;
  }
  .page-main {
    height: calc(100vh - 70px - 30px);
  }
  .page-footer {
    height: 30px;
  }
}
@media (max-width: 320px) {
  .page-header {
    height: 60px;
  }
  .page-main {
    height: calc(100vh - 60px - 30px);
  }
}
