.page {
  border: 1px solid red;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  background: url('../assets/background/page/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.page-header {
  border: 0.5px solid yellow;
  height: 10vh;
}
.page-main {
  border: 0.5px solid green;
  height: 85vh;
}
