<div class="wrap-questions-item">
    <div class="questions-item-title"> 
        Какую из этих картин написал {{ currentQuestion.author }}?
    </div>
    <button (click)="nextQuestion()">next</button>

    <div class="questions-item-images" >
        <img class="questions-item-images-variant"
        *ngFor="let randomImg of currentQuestion.randomNums" 
            src="../../../../assets/img/{{ randomImg }}.jpg" 
            alt="picture">
    </div>

    <div class="questions-item-score"></div>
</div>
