.wrap-questions-item {
    border: 1px solid green;

    height: calc(95vh - 60px);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.questions-item-answers {
    border: 1px solid rgb(1, 39, 1);

    width: 850px;
    height: 150px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.questions-item-answers-variant {
    background: greenyellow;

    width: 400px;
    height: 60px;

    text-align: center;
    line-height: 60px;
}
