<div class="wrap-questions-item">
    <div class="questions-item-title"> 
        Какую из этих картин написал {{ currentQuestion.author }}?
    </div>

    <div class="questions-item-images">
        <img src="../../../../assets/img/{{ currentQuestion.imageNum }}.jpg" alt="picture">
    </div>
    
    
    <div class="questions-item-score"></div>

    <div class="questions-item-answers">
        <div class="questions-item-answers-variant">1</div>
        <div class="questions-item-answers-variant">2</div>
        <div class="questions-item-answers-variant">3</div>
        <div class="questions-item-answers-variant">4</div>
    </div>
</div>
