.wrap-question {
    height: 100%;
    padding: 10px 60px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrap-question-artist,
.wrap-question-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap-question-artist {
    margin-top: 40px;
    gap: 60px;
}
.wrap-question-picture {
    margin-top: 40px;
    gap: 50px;
}
.question-artist-title,
.question-picture-title {
    font-size: 40px;
    text-align: center;
    color: #f1ff8a;
}
.question-artist-variant {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.question-artist-variant-images {
    width: 480px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    object-position: 100% 40%;
    cursor: pointer;
    transition: transform 0.5s;
}
.question-artist-variant-images:hover {
    transform: scale(103%);
    box-shadow: 0px 0px 10px 0px rgba(241, 255, 138, 0.5);
}
.question-artist-score,
.question-picture-score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.question-artist-score-item,
.question-picture-score-item {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 1);
}
.question-picture-img img{
    width: 800px;
    height: 490px;
    border-radius: 5%;
    object-fit: cover;
    object-position: 100% 20%;
}
.question-picture-variant {
    width: 820px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.question-picture-variant-names {
    width: 390px;
    height: 60px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    transition: transform 0.5s;
}
.question-picture-variant-names:hover {
    transform: scale(102%);
    border-color: rgb(241, 255, 138);
    background-color: rgb(241, 255, 138);
    color: rgb(0, 0, 0);
}

@media (max-width: 1440px) {
    .question-artist-variant-images {
        width: 440px;
        height: 260px;
    }
    .question-picture-img img{
        width: 740px;
        height: 420px;
    }
    .question-picture-variant {
        width: 740px;
        gap: 20px;
    }
    .question-picture-variant-names {
        width: 350px;
        height: 50px;
        font-size: 22px;
        line-height: 50px;
    }
}
@media (max-width: 1024px) {
    .wrap-question-artist {
        margin-top: 20px;
        gap: 40px;
    }
    .wrap-question-picture {
        margin-top: 20px;
        gap: 25px;
    }
    .question-artist-title,
    .question-picture-title {
        font-size: 30px;
    }
    .question-artist-variant {
        width: 90vw;
        gap: 20px;
    }
    .question-artist-variant-images {
        width: 32vw;
        height: calc(32vw - 100px);
    }
    .question-picture-img img{
        width: 600px;
        height: 320px;
    }
    .question-picture-variant {
        width: 690;
        gap: 15px;
    }
    .question-picture-variant-names {
        width: 300px;
        height: 45px;
        font-size: 20px;
        line-height: 45px;
    }
    .question-artist-score,
    .question-picture-score {
        gap: 20px;
    }
    .question-artist-score-item,
    .question-picture-score-item {
        width: 14px;
        height: 14px;
    }
}
@media (max-width: 768px) {
    .wrap-question {
        padding: 10px 30px;
    }
    .wrap-question-artist {
        margin-top: 40px;
        gap: 60px;
    }
    .wrap-question-picture {
        margin-top: 40px;
        gap: 50px;
    }
    .question-artist-title,
    .question-picture-title {
        font-size: 28px;
    }
    .question-artist-variant-images {
        width: 40vw;
        height: calc(40vw - 90px);
    }
    .question-picture-img img{
        width: 75vw;
        height: 60vw;
    }
    .question-picture-variant {
        width: 85vw;
        gap: 15px;
    }
    .question-picture-variant-names {
        width: 45%;
        font-size: 18px;
    }
    .question-artist-score,
    .question-picture-score {
        gap: 18px;
    }
}
@media (max-width: 520px) {
    .wrap-question-artist {
        margin-top: 20px;
        gap: 40px;
    }
    .wrap-question-picture {
        margin-top: 20px;
        gap: 25px;
    }
    .question-artist-title,
    .question-picture-title {
        width: 70vw;
        font-size: 22px;
        line-height: 1.5;
    }
    .question-artist-variant {
        gap: 15px;
    }
    .question-artist-variant-images {
        width: 38vw;
        height: 30vw;
    }
    .question-picture-variant {
        width: 85vw;
    }
    .question-picture-variant-names {
        height: 38px;
        font-size: 16px;
        line-height: 38px;
    }
    .question-artist-score,
    .question-picture-score {
        gap: 14px;
    }
    .question-artist-score-item,
    .question-picture-score-item {
        width: 10px;
        height: 10px;
    }
}
@media (max-width: 320px) {
    .wrap-question {
        padding: 10px 20px;
    }
    .question-artist-title,
    .question-picture-title {
        font-size: 18px;
    }
    .question-artist-variant-images {
        width: 40vw;
        height: 40vw;
    }
    .question-picture-img img{
        width: 85vw;
        height: 60vw;
    }
    .question-picture-variant {
        width: 80vw;
        gap: 5px;
    }
    .question-picture-variant-names {
        width: 38vw;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }
    .question-artist-score,
    .question-picture-score {
        gap: 10px;
    }
    .question-artist-score-item,
    .question-picture-score-item {
        width: 8px;
        height: 8px;
    }
}
