<div *ngIf="nameCategory == 'artists'; else pictures">
    <div class="wrap-question-artist">
        <div class="question-artist-title"> 
            Which is {{dataCurrentQuestion.author}} picture?
        </div>
    
        <div class="question-artist-variant">
            <img class="question-artist-variant-images"
                *ngFor="let randomAnswer of dataCurrentQuestion.randomAnswers" 
                src="../../../../assets/img/{{+randomAnswer}}.jpg"
                (click)="checkAnswer(dataCurrentQuestion.imageNum, randomAnswer)"
                [ngClass]="{'right': true }"
                alt="picture">
        </div>
    
        <div class="question-artist-score">
            <div class="question-artist-score-item"
                *ngFor="let answer of score"
                [appScoreHighlight]="answer">
            </div>
        </div>
    </div>
</div>

<ng-template #pictures>
    <div class="wrap-question-picture">
        <div class="question-picture-title"> 
            Who is the author of this picture?
        </div>
    
        <div class="question-picture-img">
            <img src="../../../../assets/img/{{dataCurrentQuestion.imageNum}}.jpg"
                alt="picture">
        </div>
    
        <div class="question-picture-score">
            <div class="question-picture-score-item"
                *ngFor="let answer of score"
                [appScoreHighlight]="answer">
            </div>
        </div>
    
        <div class="question-picture-variant">
            <div class="question-picture-variant-names"
                *ngFor="let randomAnswer of dataCurrentQuestion.randomAnswers" 
                (click)="checkAnswer(dataCurrentQuestion.imageNum, randomAnswer)">
                {{randomAnswer}}
            </div>
        </div>
    
    </div>
</ng-template>
